.dialog.stdwidth
  .dialoghead
    .dialogheadcontent
      West Point Bridge Design Contest Registration
  .dialogbody
    = form_for(:team, :url => teams_path) do |f|
      .box
        .big
          Team Name:
          = f.text_field :name
        .para.small.subdued
          \-- Type a Team Name (up to 15 characters). Do not use anyone's last name! 
          %br
          \-- Remember your Team Name! You will need it later.
          %br 
          \-- Be careful! Team Names judged to be inappropriate will be disqualified.
      .box
        .big
          Contest selection:
        .para.small.subdued
          Your team may enter either the national contest sponsored by 
          West Point or a local contest sponsored by an organization in 
          your community. Select one below. 
        .para
          = f.radio_button :contest, :national
          = f.label :national_contest, 'The national West Point Bridge Design Contest only.'
        .para
          = f.radio_button :contest, :local
          = f.label :local_contest, 'A local bridge design contest with Local Contest Code: '
          = f.text_field :local_contest_name
      .box
        .big
          Team Captain
        .para.small.subdued
          Every team must have a captain. If you're competing alone,
          then you're it! Please enter the information requested below.

        = f.fields_for(:member) do |g|
          %table
            %tr
              %td.tiny.shr First Name
              %td.tiny.shr MI
              %td.tiny.shr Last Name
            %tr
              %td
                = f.text_field :first_name, { :size => 24 }
              %td
                = f.text_field :middle_initial, { :size => 1 }
              %td
                = f.text_field :last_name, { :size => 24 }
          .para.small.subdued
            Please indicate your eligibility by selecting one of the
            three statements below. If you choose either of the first
            two, also select the appropriate state from the
            corresponding list.
          %hr
          .para
            = f.radio_button :catagory, :us
            = f.label 'I am a student, age 13 through grade 12, currently enrolled in' |
                    + ' a U.S. school or am legally home-schooled.' |
          .para.small.alignright
            My school is located in:
            = ApplicationHelper.state_select(f, :school_state)
          %hr
          .para
            = f.radio_button :catagory, :out_us
            = f.label 'I am a U.S. citizen, age 13 through grade 12 (or equivalent),' |
              + ' currently attending a school outside the U.S.' |
          .para.small.alignright
            My permanent residence is in:
            = ApplicationHelper.state_select(f, :school_state)
          %hr
          .para
            = f.radio_button :catagory, :open
            = f.label 'I am not in one of the two categories above, so I am not' |
              + ' eligible for national recognition.' |
          .para.small.alignright
            I would still like to submit a design in the Open Competition.
      .para.alignright
        = f.submit 'Accept and Continue >>', { :class => 'btn' }

