.dialog.stdwidth
  .dialoghead
    .dialogheadcontent
      West Point Bridge Design Contest Registration
  .dialogbody
    = form_for(:team, :url => teams_path) do |f|
      = render :partial => "shared/error_head", :locals => { :obj => @team }
      .box
        .big
          Team Name:
          != oops_on(@team, [:name, :name_key])
          = f.text_field :name, { :size => 16 }
        .para.small.subdued
          \-- Type a Team Name (up to 15 characters). Do not use anyone's last name! 
          %br
          \-- Remember your Team Name! You will need it later.
          %br 
          \-- Be careful! Team Names judged to be inappropriate will be disqualified.
      .box
        .big
          Contest selection:
        .para.small.subdued
          Your team may enter either the national contest sponsored by 
          West Point or a local contest sponsored by an organization in 
          your community. Select one below. 
        .para
          = f.radio_button :contest, :national
          = f.label :contest_national, 'The national West Point Bridge Design Contest only.'
        .para
          = f.radio_button :contest, :local
          = f.label :contest_local, 'A local bridge design contest with Local Contest Code: '
          = !oops_on(@team, :local_contest_code)
          = f.text_field :local_contest_code, { :size => 6 }
      .box
        .big
          Team Captain
        .para.small.subdued
          Every team must have a captain. If you're competing alone,
          then you're it! Please enter the information requested below.
        = render :partial => "shared/member", |
                 :locals => { :form => f, :member => @team.captain } |
      .para.alignright
        = f.submit 'Accept and Continue >>', { :class => 'btn' }
