= content_for :dialog do
  = render :partial => "shared/error_head", :locals => { :obj => @team }
  = form_for @team, :url => team_path do |f|
    .box
      .big
        Team Name:
        != oops_on(@team, [:name, :name_key])
        = f.text_field :name, :size => 16
      .para.small.subdued
        \-- Type a Team Name (up to 15 characters). Do not use anyone's last name! 
        %br
        \-- Remember your Team Name! You will need it later.
        %br 
        \-- Be careful! Team Names judged to be inappropriate will be disqualified.
    .box
      .big
        Team Captain
      .para.small.subdued
        Every team must have a captain. If you're competing alone,
        then you're it! Please enter the information requested below.
      = f.fields_for :members, @team.captain do |mf| 
        = render :partial => "shared/member", :locals => { :mf => mf, :member => @team.captain }
    = render :partial => 'shared/privacy_link'
    .para.alignright
      = f.submit TablesHelper::ACCEPT, :class => 'btn'
