- flash.each do |key, msg|
  %div{:class => key}
    = msg
.para.hi.big
  Welcome Bridge Designer! 
.para.hi 
  We're open for individuals who want to test 
  their skill and for unofficial local contests.
.para
  If you've already registered, then log in by 
  typing your Team Name and Password below.

.dialog.loginwidth
  .dialoghead
    .dialogheadcontent
      Contest Login
  .dialogbody
    = form_for(:session, :url => session_path) do |f|
      %table
        %tr
          %td 
            = f.label 'Team Name:'
          %td
            = f.text_field :name, { :size => 16, :maxlength => 16 }
        %tr
          %td
            = f.label 'Password:'
          %td
            = f.password_field :password, { :size => 16, :maxlength => 16 }
        %tr
          %td{ :colspan => 2, :align => 'right' }= f.submit 'Log In', { :class => 'btn' }
%hr
.para
  If you have not yet registered, then...
.para
  = button_to 'Start the Registration Wizard >>',     |
  new_team_path, { :method => :get, :class => 'btn' } |
