= content_for :dialog do
  = render :partial => "shared/error_head", :locals => { :obj => @team }
  = form_for(@team, :url => team_completion_path(@team.id)) do |f|
    .box
      .big
        Team info for
        = @team.name
      .para.small.subdued
        It is important that we have an e-mail address to reach your team. Type it below.
      .para
        = f.label :email, 'E-mail address:'
        = f.text_field :email, :size => 32
        != oops_on(@team, :email)
      %hr
      - if @team.completion_status == :pending_new_password
        = render :partial => "password", :locals => { :form => f, :team => @team }
      - else
        .para.bold Your password
        .para= render :partial => "shared/submit_link", :locals => { :name => 'change_password', :text => "Change your team's password." }
      %hr
      - if @team.category != 'e'
        = f.fields_for :members, @captain do |c|
          .para.bold
            Team Captain
            = @captain.full_name
          %table
            %tr
              %td
                = c.label :school, 'School or organization:'
              %td
                = c.text_field :school, :size => 32
            %tr
              %td
                = c.label :school_city, "Location:"
              %td
                = c.text_field :school_city, :size => 32
        - if @member
          = f.fields_for :members, @member do |m|
            .para.bold
              Team Member
              = @member.full_name
            %table
              %tr
                %td
                  = m.label :school, 'School or organization:'
                %td
                  = m.text_field :school, :size => 32
              %tr
                %td
                  = m.label :school_city, "Location:"
                %td
                  = m.text_field :school_city, :size => 32
        %hr
      .para.bold
        %strong Local contest codes (optional):
      .para.small.subdued
        Enter up to four 4- or 6-character codes provided by local contest sponsors in your area:
        %br 
      .para
        - unless @team.local_contests.empty?
          Your current codes:&nbsp;&nbsp;
          != @team.local_contests.collect { |lc| "#{lc.code} - #{check_box_tag 'deleted_affiliations[]', lc.code, false, :id => lc.code}delete" }.join('&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;');
          %br
        - if @team.local_contests.length < 4
          = f.label :new_local_contest, 'Add a new code: '
          != oops_on(@team, :new_local_contest)
          = f.text_field :new_local_contest, :size => 8
          %br
    .para.alignright
      - if @team.category != 'i'
        = f.submit TablesHelper::CANCEL, { :name => 'cancel', :class => 'btn' }
      = f.submit 'Update and Stay Here', { :name => 'update', :class => 'btn' }
      = f.submit TablesHelper::ACCEPT, { :name => 'accept', :class => 'btn' }
