= content_for :dialog do
  = form_tag verification_path, :method => :put do
    .big Verify Contact Info
    .para.small.subdued
      Please check that the information below is correct. 
      We must be able to contact winners!
    .box
      %table
        %tr
          %td{ :colspan => 2, :class => 'membertitle' } Team information for Team #{@team.name}
        %tr
          %td{ :class => 'bold' } Email:&nbsp;
          %td= @team.email
        - unless @team.local_contests.empty?
          %td{ :class => 'bold' } Local contests:&nbsp;
          %td= local_contest_list(@team)
    .box
      %table{ :width => '100%' }
        %tr
          %td{ :width => '50%' }
            = render :partial => partial_for(@team, @captain), :locals => { :tag => 'Captain', :member => @captain }
          - if @member
            %td= render :partial => partial_for(@team, @member), :locals => { :tag => 'Member', :member => @member }
    = render :partial => 'shared/privacy_link'
    .para.alignright
      = submit_tag '<< Make Changes', :name => :cancel, :class => 'btn'
      = submit_tag TablesHelper::ACCEPT, :name => :accept, :class => 'btn'