!!! 5
%html
  %head
    %title West Point Bridge Design Contest Administrator
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    /[if lt IE 9]
      = javascript_include_tag 'html5fix'
  %body{ :class => 'admin_body' }
    = yield
    %div{ :style => 'clear:both;' }
      - unless flash.empty?
        .bold Flash:
        %ul
          - flash.each do |key, val|
            %li== #{key.capitalize}: #{val}
      = debug(session) if Rails.env.development?
      = debug(params) if Rails.env.development?
