- row_class = row[:ins] ? :ins : row[:del] ? :del : i.even? ? :highlight : :plain
- if row_height(row) == 1
  %tr{ :class => row_class }
    %td.centered
      = row[:rank]
      - if row[:score]
        %br
        %span.tiny.gray #{row[:score]}
    %td= row[:team_name]
    - if show_category_p
      %td.centered= TablesHelper::CATEGORY_MAP[row[:category]]
    %td= row[:members][0]
    %td= row[:school][0]
    %td= row[:city_state][0]
    %td= row[:submitted] || '--'
- else # row_height must be 2
  %tr{ :class => row_class }
    %td.centered{ :rowspan => 2 }<
      = row[:rank]
      - if row[:score]
        %br>
        %span.tiny.gray= row[:score]
    %td{ :rowspan => 2 }= row[:team_name]
    - if show_category_p
      %td.centered{ :rowspan => 2 }= TablesHelper::CATEGORY_MAP[row[:category]]
    = render :partial => 'shared/two_high_cell', :locals => { :i => 0, :contents => row[:members] }
    = render :partial => 'shared/two_high_cell', :locals => { :i => 0, :contents => row[:school] }
    = render :partial => 'shared/two_high_cell', :locals => { :i => 0, :contents => row[:city_state] }
    %td{ :rowspan => 2 }= row[:submitted] || '--'
  %tr{ :class => row_class }
    = render :partial => 'shared/two_high_cell', :locals => { :i => 1, :contents => row[:members] }
    = render :partial => 'shared/two_high_cell', :locals => { :i => 1, :contents => row[:school] }
    = render :partial => 'shared/two_high_cell', :locals => { :i => 1, :contents => row[:city_state] }
