%a{ :name => team.name_key }
%table.review
  - rows = columnize(team_items, 2)
  %tr
    %td{ :rowspan => 1 + rows.length, :class => team.status_style_id }= "[#{team.rank.to_s}]"
    %td.review_head{ :colspan => 2 }
      #{team.name_key} [#{Standing.rank(team) || 'x'}]:
      = select_tag("#{team.id}_group", options_for_select(team_review_group_list_data(@groups), team.group_id || '-'))
      = hidden_field_tag "#{team.id}_group_in", (team.group_id || '-')
      = sep
      - TablesHelper::STATUS_PAIRS[0..-2].each do |label, param| # Omitting Hidden
        = radio_button_tag "#{team.id}_status", param, param == team.status
        = label
      = hidden_field_tag "#{team.id}_status_in", team.status
      = sep
      = check_box_tag "#{team.id}_mark"
      Mark
      = sep
      %a{ :class => 'review', :href => '#top' }= "[top]"
  - for row in rows
    %tr{ :class => if even = !even then 'plain' else 'stripe' end }
      - for col in row
        %td.review
          - if col
            %span.bold #{col[0]}:
            = insert_html_breaks(col[1])
          - else
            ="&nbsp;".html_safe