- if @category == '-'
  .notice Please select a category to review.
- elsif @teams.blank?
  .notice Sorry. No teams in category #{TablesHelper::CATEGORY_MAP[@category]}!
- else
  - show_hidden_p = @visible_status.include?('h')
  - team_items_table = @teams.zip(Team.format_all(@teams, @visible_attributes))
  %a{ :name => 'top' }
  = render :partial => 'shared/flash', :locals => { :flash => flash, :errors => nil }
  .bold
    = "#{TablesHelper::CATEGORY_MAP[@category] || 'Unknown category'}: #{pluralize(@teams.length, 'team')} shown."
  %table.index
    - for row_team_items in team_items_table.each_slice(30)
      %tr
        - for team, items in row_team_items
          - if team.rank != :o || show_hidden_p
            %td{ :class => [team.status_style_id, 'index'] }
              %a{ :class => 'index', :href => "##{team.name_key}" }= team.rank
  = form_tag admin_teams_review_path, :method => :put do
    = hidden_field_tag 'team_category', @category
    = hidden_field_tag 'standings_cutoff', @standings_cutoff
    - @visible_status.each do |status|
      = hidden_field_tag "visible_status[]", status
    - @visible_attributes.each do |attribute|
      = hidden_field_tag "visible_attributes[]", attribute
    = submit_tag 'Process', :name => 'process'
    - team_items_table.each do |team, items|
      - if team.rank != :o || show_hidden_p
        = render :partial => 'shared/team_review_record',
                 :locals => { :team => team, :team_items => items }