= content_for :dialog do
  = render :partial => "shared/error_head", :locals => { :obj => @parent }
  = form_for @parent, :url => coppa_captain_completion_path, :method => :put do |f|
    = render :partial => "shared/coppa_member_completion",
             :locals => { :f => f, :member => @member, :parent => @parent, :label => 'Captain' }
    = render :partial => 'shared/privacy_link'
    .para.alignright
      .inline
        = f.submit TablesHelper::PARENT_CERTIFICATION, { :class => 'btn' }
