%table.review
  %tr
    %td.review_head{ :colspan => 2 }
      = check_box_tag 'select[]', local_contest.id
      = local_contest.code
      = sep
      (#{pluralize local_contest.affiliations_count, 'team'}, #{pluralize local_contest.certificates_count, 'certificate'})
      = sep
      %a{ :class => 'review', :href => "/standings/local/#{local_contest.code}.htm" }= "[view standings]"
      = sep
      %a{ :class => 'review', :href => '#top' }= "[top]"
  - for row in columnize(local_contest.formatted, 2)
    %tr{ :class => cycle('plain', 'stripe') }
      - for col in row
        %td.review
          - if col
            %span.bold #{col[0]}:
            = htmlify(col[1])
          - else
            ="&nbsp;".html_safe
