= content_for :dialog do
  = form_tag certification_path, :method => :put do
    .big Certify Your Team's Eligibility
    .para.small.subdued
      Please check that the information below is true and correct. 
      Be careful. Your eligibility for national recognition depends
      on it, and some of the information cannot be changed after
      you click the
      %span.normalfont.bold I Certify 
      button below!
    .box
      %table.fullwidth
        %tr
          %td.bold.shrink Team Name:
          %td
            = @team.name
        - unless @team.local_contests.empty?
          %tr
            %td.bold.shrink Local Contests:
            %td
              = local_contest_list(@team)
        %tr
          %td{:colspan => 2}
            %hr
        %tr
          %td.bold.shrink Team Captain:
          %td
            = @captain.full_name
        - if @captain.coppa?
          = render 'coppa'
        %tr
          %td.bold.shrink Category:
          %td{ :id => 'captain_category' }= render 'member_category', { :member => @captain }
        %tr
          %td{:colspan => 2}
            %hr
        - if @member
          %tr
            %td.bold.shrink Second Team Member:
            %td
              = @member.full_name
          - if @member.coppa?
            = render 'coppa'
          %tr
            %td.bold.shrink Category:
            %td{ :id => 'member_category' }= render 'member_category', { :member => @member }
          %tr
            %td{:colspan => 2}
              %hr
        %tr
          %td.bold.shrink{ :id => 'competing_in' } Competing in:
          %td
            - case @team.registration_category
            - when 'h'
              US/PR High School competition
            - when 'm'
              US/PR Middle School competition
            - when 'i'
              Open Competition
        %tr
          %td.bold.shrink{ :id => 'team_eligibility' } Team eligibility:
          %td
            - case @team.registration_category
            - when 'h', 'm'
              Your team is eligible to compete for national recognition by submitting designs.
            - when 'i'
              Your team is not eligible to compete for national recognition, but can
              submit designs for judging in open competition. See our eligibility rules
              for more information.
    = render :partial => 'shared/privacy_link'
    .para.alignright
      = submit_tag '<< Go Back to Make Changes', :name => :cancel, :class => 'btn'
      = submit_tag 'I Certify the Information Above is True and Correct >>', :name => :accept, :class => 'btn'
