= content_for :dialog do
  = form_tag certification_path, :method => :put do
    .big Certify Your Team's Eligiblity
    .para.small.subdued
      Please check that the information below is true and correct. 
      Be careful. Your eligiblity for national recognition depends 
      on it, and the information cannot be changed after you click the 
      %span.normalfont.bold I Certify 
      button below!
    .box
      %table.fullwidth
        %tr
          %td.bold.shrink Team Name:
          %td
            = @team.name
        - unless @team.local_contests.empty?
          %tr
            %td.bold.shrink Local Contests:
            %td
              = local_contest_list(@team)
        %tr
          %td{:colspan => 2}
            %hr
        %tr
          %td.bold.shrink Team Captain:
          %td
            = @captain.full_name
        %tr
          %td.bold.shrink Category:
          %td{ :id => 'captain_category' }
            = render 'member_category', { :category => @captain.category }
        %tr
          %td{:colspan => 2}
            %hr
        - if @member
          %tr
            %td.bold.shrink Second Team Member:
            %td
              = @member.full_name
          %tr
            %td.bold.shrink Category:
            %td{ :id => 'member_category' }
              = render 'member_category', { :category => @member.category }
          %tr
            %td{:colspan => 2}
              %hr
        - case eligibility(@captain, @member)
        - when :eligible
          = render 'team_category', { |
              :competing_in => 'US/PR Student Competition.', |
              :eligibility => 'Your team is eligible to compete for national recognition by submitting designs.' } |
        - when :ineligible
          = render 'team_category', { |
              :competing_in => 'Open Competition.', |
              :eligibility => 'At least one of your team members is not eligible for national ' + |
                              'recognition. Therefore the team is not eligible. We encourage ' + |
                              'you to submit designs in Open Competition!' } |
    .para.alignright
      = submit_tag '<< Go Back to Make Changes', :name => :cancel, :class => 'btn'
      = submit_tag 'I Certify the Information Above is True and Correct >>', :name => :accept, :class => 'btn'
