.banner
  Home page for
  = @team.name
.para
  Your team status:
.para
  - if flash[:alert]
    .para
      = flash[:alert]
  = form_for(@design, :url => home_path(@team.id), :method => :put) do |f|
    Submit a design (West Point Bridge Designer 2012 only):
    %br
    = f.file_field :bridge
    %br
    = f.submit 'Submit your design', :class => 'btn'
