.big.bold Administer Contest Schedules
%hr
.bold.menu_label
  Contest schedule workspace:
= render :partial => 'shared/flash', :locals => { :flash => flash, :errors => @edited_schedule.errors }
= form_for @edited_schedule, :url => admin_schedule_path, :method => :put do |f|
  .para
    - if @edited_schedule.new_record?
      New schedule:
    - else
      Edit schedule:
      = f.hidden_field(:id, :value => @edited_schedule.id)
  %table{ :width => '100%' }
    %tr
      %td= f.label(:name, 'Name:')
      %td
        = f.text_field :name, :size => 30
        = sep
        = f.label(:active, "Active:")
        = f.check_box(:active)
    %tr
      %td= f.label(:start_quals_prereg, 'Start registration:')
      %td= f.datetime_select :start_quals_prereg, :minute_step => 5
    %tr
      %td= f.label(:start_quals, 'Start qualifying:')
      %td= f.datetime_select :start_quals, :minute_step => 5
    %tr
      %td= f.label(:end_quals, 'End qualifying:')
      %td
        = f.datetime_select :end_quals, :minute_step => 5
    %tr
      %td= sep
      %td
        = sep
        = f.label(:post_certificates, "Certificates:" )
        = f.submit 'Post', :name => 'certificates'
        = f.submit 'Revoke', :name => 'revoke_certificates'
        = sep
        = f.label(:quals_tally_complete, "Tally complete:" )
        = f.check_box(:quals_tally_complete)
    %tr
      %td= f.label(:start_semis_prereg, 'Start finals login check:')
      %td= f.datetime_select :start_semis_prereg, :minute_step => 5
    %tr
      %td= f.label(:semis_instructions_id, 'Finals instructions:')
      %td= f.collection_select(:semis_instructions_id, HtmlDocument.order('subject ASC'), :id, :subject, :include_blank => 'Select Document')
    %tr
      %td= f.label(:start_semis, 'Start Finals:')
      %td= f.datetime_select :start_semis, :minute_step => 5
    %tr
      %td= f.label(:end_semis, 'End Finals:')
      %td= f.datetime_select :end_semis, :minute_step => 5
    %tr
      %td{:colspan => 2}
        .para
          = f.check_box(:closed)
          Suspend team logins with message:
        .para= f.text_area :message, :rows => 3, :style => 'width:100%'
  .para
    = f.submit @edited_schedule.new_record? ? "Add schedule" : "Update schedule", :name => 'update'
    = sep
    = f.submit @edited_schedule.new_record? ? "Get selected schedule" : "Get new or selected schedule", :name => 'get'
    = sep
    = f.submit "Delete selected schedules", :name => 'delete'
    %hr
  - if @active_schedule
    .para.bold System state: #{Schedule::DESCRIPTIONS[@active_schedule.state]}.
  .para
    = render @schedules
