- if @teams.nil?
  .notice Sorry. Local contest '#{@local_contest_code}' doesn't exist.
- elsif @teams.empty?
  .notice Sorry. No teams in local contest '#{@local_contest_code}'.
- else
  - team_items_table = @teams.zip(Team.format_all(@teams, @visible_attributes))
  %a{ :name => 'top' }
  .bold
    = "Local contest #{@local_contest_code}: #{pluralize(@teams.length, 'team')} shown."
  %hr
  = form_tag admin_local_contest_team_path, :method => :put do
    = hidden_field_tag 'local_contest_code', @local_contest_code
    = hidden_field_tag 'standings_cutoff', @standings_cutoff
    = hidden_field_tag 'team_category', @category
    - @visible_status.each do |status|
      = hidden_field_tag "visible_status[]", status
    - @visible_attributes.each do |attribute|
      = hidden_field_tag "visible_attributes[]", attribute
    = submit_tag 'Process', :name => 'process'
    = sep
    = submit_tag 'Download as spreadsheet', :name => 'download'
    = sep
    = button_tag 'Select all', :type => 'button', :onclick => 'select_all_reviewed_teams(true)'.html_safe
    = button_tag 'Clear all', :type => 'button', :onclick => 'select_all_reviewed_teams(false)'.html_safe
    - team_items_table.each do |team, items|
      = render :partial => 'shared/team_review_record',
               :locals => { :team => team, :team_items => items }
