.big.bold Administer Groups
%hr
.bold.menu_label Groups workspace:
= render :partial => 'shared/flash', :locals => { :flash => flash, :errors => @edited_group.errors }
= form_for @edited_group, :url => admin_group_path, :method => :put do |f|
  .para
    - if @edited_group.new_record?
      = f.label(:description, 'New/query description:')
    - else
      = f.label(:description, 'Edit/query description:')
      = f.hidden_field(:id, :value => @edited_group.id)
    = hidden_field_tag :ids, @groups.map { |g| g.id }.join(',')
    = f.text_field :description, :size => 40
  .para
  = f.submit @edited_group.new_record? ? 'Add record' : 'Update record', :name => 'update'
  = sep
  = f.submit @edited_group.new_record? ? 'Get selected record' : 'Get new or selected record', :name => 'get'
  = sep
  = f.submit 'Delete selected records', :name => 'delete', :confirm => 'Are you absolutely sure you want to delete?'
  = sep
  = f.submit 'Query by example', :name => 'query'
  %hr
    .para #{pluralize(@groups.length, 'group')} shown.
    = render @groups